body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*background-color: #add5fa;*/
    background-image: url('../OTROS/fondo7.jpg');
    background-size: 100% 100%;
    /*background-position: 120px;*/
}

.container {
    text-align: center;
}


h1 {
    color: rgb(42,17,13);
    font-size: 55px;
    font-style: italic;
}

h2 {
    color: rgb(42,17,13);
    font-style: italic;
}

.subt2{
    padding-left: 55px;
    font-size: 24px;
    
}

.options-container {
    margin-top: 20px;
}

.difficulty-button {
    background-color: #d4b253;
    color: #333;
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.back-button {
    /*background-color: #f9a59a;*/
    background: rgb(154,54,34);
    color: white;
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.button {
    /*background-color: #fa5f49;*/
    background: rgb(154,54,34);
    color: white;
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;

}

/*.div-fondo{
  width: 2000px;
  background: rgba(255, 122, 89, .2);
  background-size: cover;
}

/* Ajusta el diseño de la forma de la grilla de cartas */
/*

*/
.memory-board-wrapper {
    display: flex;
    justify-content: center;
}

.memory-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Define el número de columnas */
    gap: 10px;
    max-width: 10%;
    margin: 1px auto;
    margin-top: 0px;
    margin-left: 850px;
}

/* Estilos para las cartas del juego */


.card {
    width: 80px;
    height: 80px;
    /*background-image: url('../OTROS/card7.jpeg');*/
    /*background-color: white;*/
    background-color: #f1f1f1;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    transition: transform 0.5s;
    cursor: pointer;
}

.backcard{
    width: 80px;
    height: 80px;
    text-align: center;
    display: grid;
    place-items: center;
    background-color: white;
    /*background-image: url('../OTROS/card7.jpeg');*/

}

/* Estilos para el contenedor del juego */
*.game-container {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    max-width: 100%; 
    margin: auto;
    flex-direction: column;
    margin-left: -800px; 
    height: auto;
    width: 70%;
    position: relative;

}
/* Estilos para el contenedor principal */

.container {
    width: 100%; 
    max-width: 1100px;
    min-width: 100px; 
    margin: 0 auto;
    /*opacity: 0.8;*/
    background: rgba(253,248,206,0.5);
    /*background-color: #f9d99a; /* Ruta a tu imagen en la carpeta "otros" */
    background-size: contain; /* Ajusta el tamaño de la imagen al contenedor */
    display: flex;
    align-items: center;
    padding: 10px;
    height: auto; 
    position: relative; 
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
    .container {
        padding: 10px; 
}



/*Información del juego */
.game-info {
    margin-bottom: 20px;
}

/* Animación para las cartas */
.flipping {
    transform: rotateY(0deg) ;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.flipping.flipped {
    transform: rotateY(180deg) perspective(1000px);
}

/* Efecto de escala al hacer hover sobre las cartas */
.card:hover {
    /*transform: scale(1.2);*/
    transform: rotateY(180deg);
}


.buttons-container {
    display: flex; 
    align-items: center; 
    margin-top: 330px;
}

.button {
    /* botones */
    background-color: #d4b253;
    border: none;
    color: white;
    padding: 150px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    margin: 120px 25px; 
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    color: black;
}

#timer, #score {
    margin: 0;
    height: 100px;
    margin-top: 100px;
}

#timer {
    width: 150px;
}

#score {
    width: 100px;
}
}