body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fffacd;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
}

.options-container {
    margin-top: 20px;
}

.difficulty-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.back-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.card {
    background-color: #3498db;
    color: white;
    padding: 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.inactive {
    pointer-events: none;
    background-color: #aaa;
}

.game-container {
    display: grid;
    gap: 10px;
    margin-top: 20px;
}

/* ... (otras partes del código) ... */
